body {
  background: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
}

h1 {
  margin-bottom: 50px;
  font-size: 28px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.pic {
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 5px;
  transition: 0.2s;
}

.pic:hover {
  transform: scale(1.05);
}

/* Full Screen Scare Mode */
#scareScreen {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
  color: white;
  text-align: center;
  padding-top: 40px;
}

#scareScreen h2 {
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#scareScreen video {
  width: 90%;
  max-width: 900px;
  border: 3px solid white;
  border-radius: 10px;
}
